header#main-header {
  width: 100%;
  height: 60px;
  background: #0ba520;
  font-size: 18px;
  font-weight: bold;
  color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
